---
//Components
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import BaseHead from "./BaseHead.astro";

// Styles
import "@/styles/global.css";
---

<html lang="en">
	<BaseHead {...Astro.props} />
	<body>
		<Nav />
		<main>
			<slot/>
		</main>
		<Footer />
	</body>
</html>
