---
// Components
import Heading from "../ui/Heading.astro";
import Link from "../ui/Link.astro";

//Assets
import profileImg from "@/assets/profile.png";
---


<header aria-label="Introduction to Marc" class="hero-projects" >
    
    <div class="rows">
        <Heading tagName="h1" size="h2">Projects Page</Heading>
        <p>Here are some recent websites and apps that I have worked on.</p>
    </div>

</header>

